<style>
  html, body {background: url(../images/language_background.jpeg) no-repeat center center fixed;
    background-size: cover;
    background-position: center;
  }
</style>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="container-fluid" style="color:white;">
  <div class="col-xs-12 col-sm-12 col-md-9 col-md-offset-4">
    <br>
    <br>
    <div class="hidden-sm hidden-xs">
      <br>
      <br>
    </div>
    <div style="font-family: KacstOffice;">
      <b>
      &nbsp;SELECT YOUR LANGUAGE <br><br>
      SELECCIONA TU LENGUAJE
      <br>
      <br>
      </b>
    </div>
  </div>
  <p></p>
  <div class="hidden-sm hidden-xs">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12">
    <button ng-click="button_mexico()" type="button" class="btn btn-mexico" ></button>
    <p></p>
  </div>
  <div class="col-md-5 col-md-offset-3 col-sm-12 col-xs-12">
    <button ng-click="button_usa()" type="button" class="btn btn-usa" href="#!/main.html"></button>
  </div>
</div>

