<style>
  body {background-color: rgb(47, 47, 47)
  }
</style>

<div class="jumbotron jumbotron-md-size">
  <div class="col-xs-4 col-xs-offset-1" style="height: 30vh">
    <p style="height: 10vh; line-height: 10vh; text-align: center; font-size:3vw;">SOFTWARE</p>
    <p style="height: 10vh; line-height: 10vh; text-align: center; font-size:3vw;">FRONT-END</p>
    <p style="height: 10vh; line-height: 10vh; text-align: center; font-size:3vw;">VIDEOGAME</p>
  </div>
  <div class="col-xs-7" style="height: 30vh">
    <h1 style="height: 30vh; line-height: 30vh; text-align: center; font-size:5vw;">DEVELOPER</h1>
  </div>


  <div class="col-md-2 col-md-offset-3 col-sm-12 col-xs-12">
    <br><br><br>
    <div class="hidden-sm hidden-xs">
      <br><br><br>
    </div>
    <button ng-click="" type="button" class="btn btn-danger btn-lg">About Me</button>
  </div>
  <div class="col-md-2 col-md-offset-1 col-sm-12 col-xs-12">
    <br><br><br>
    <div class="hidden-sm hidden-xs">
      <br><br><br>
    </div>
    <button ng-click="" type="button" class="btn btn-danger btn-lg">Resume</button>
  </div>
</div>
